/* Type
================================================================================ */

// html {
//     font-size: 106.25%;
// }
body{
    font-family: "Bandeins Strange";
    font-size: 1em;
    font-weight: $light;
}